<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-2">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Criar ou editar contato.</p>
      <div class="row">

        <%- include('includes/messages'); %>

      <div class="responsive-table">
        <form action="/contato/register" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" value="<%= contato.nome %>" class="form-control" name="nome">
          </div>
          <div class="mb-3">
            <label class="form-label">Sobrenome</label>
            <input type="text" value="<%= contato.sobrenome %>" class="form-control" name="sobrenome">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" value="<%= contato.email %>" class="form-control" name="email"> 
          </div>
          <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input type="tel" value="<%= contato.telefone %>" class="form-control" name="telefone">
          </div>

          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>
